#board {
  padding: 3em;
  text-align: center;
}

.row {
clear: both;
width: 302px;
margin: 0 auto;
}

.row > div {
  float: left; 
  height: 100px;
  width: 100px;
  line-height: 100px;
  color:red; font-size: 50px}

.top {
  border-bottom: 1px solid rgb(38, 9, 167);
}

.bottom {
border-top: 1px solid rgb(108, 4, 243);
}

.left {
  border-right: 1px solid rgb(64, 22, 216);
}

.right {
  border-left: 1px solid rgb(60, 10, 241);
}

.row:hover {
  cursor: pointer;
}